header {
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(images/nathan-anderson-kujXUuh1X0o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* 1:14:39 kod na zubate sekce