header {
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(images/nathan-anderson-kujXUuh1X0o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav {
    width: 100%;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.486);
}


.main-nav .menu {
    font-size: 2.75rem;
    line-height: 0.8;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    max-width: 1040px;
    padding-left: 4rem;
}

.main-nav a {
    color: white;
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.55rem;
}

/* 1:27 last */