header {
    min-height: 70vh;
    max-width: 1040px;
    margin: 0 auto;
    background-image: url(images/nathan-anderson-kujXUuh1X0o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1280px;
    background-attachment: fixed;
    position: relative;
}

.main-nav {
    width: 100%;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.486);
}


.main-nav .menu {
    font-size: clamp(1.75rem, 8vw, 2.75rem);
    line-height: 0.8;
    margin: 0 auto;
    display: flex;
    gap: clamp(1.2rem, 5vw, 2rem);
    max-width: 1040px;
    padding: 0 clamp(0.5rem, 3vw, 1rem);
}


.main-nav li:last-of-type {
    margin-left: auto;
}

.main-nav a {
    color: white;
    text-shadow: 2px 2px 10px black;
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.55rem;
}

.main-h {
    position: absolute;
    top: 10rem;
    left: clamp(1rem, 8vw, 4rem);
    font-size: clamp(3rem, 9vw, 6rem);
    color: rgba(255, 255, 255, 0.462);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.195);
}

/* 1:53 last */