body {
    background-color: rgb(1, 11, 34);
    background-color: black;

    color: white;
    font-family: 'Teko', Verdana, Tahoma, sans-serif, sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    line-height: 0.8;
    letter-spacing: 1px;
}


h2 {
    font-size: clamp(1.75rem, 8vw, 3.5rem);
}

h3 {
    font-size: clamp(1.75rem, 10vw, 4.5rem);
}

p {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 1.25rem;
    margin: 1rem 0 0;
}


img {
    width: 100%;
}

figure {
    margin: 0;
}

.container {
    padding: 0 1.25rem;
    max-width: 1170px;
    margin: 0 auto;
}



/*11:06*/